{% extends "base.html" %}

{% block titulo %}Bienvenidos{% endblock %}

{% block container %}
	
	<div class="rows">
		<div class="span5 well">
			<form action="/login/" method="post">
				{% csrf_token %}
				{{ frmLogin }}
				<p>
					<input type="submit" value="Entrar" class="btn btn-primary">
				</p>
			</form>
		</div>
		<div class="span5 well">
			<form action="" method="post">{% csrf_token %}
				{{ frmRegister }}
				<p>
					<input type="submit" value="Registrar" class="btn btn-success">
				</p>
			</form>
		</div>
	</div>

{% endblock %}